.game-owned {
  position: absolute;
  height: 100%;
  width: 105px;
  top: -5px;
  left: -5px;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 1000;
  text-align: center;
}

.game-owned > div {
  position: absolute;
  width: 100%;
  top: 15px;
  left: -25px;
  transform: rotate(-40deg);
  padding: 1px 0;
}

.game-owned .game-owned-false {
  background: green;
}

.game-owned .game-owned-true {
  background: red;
}

/* Humble Bundle */
.game-boxes li .table-wrapper {
  position: relative;
}

/* Bundle Stars */
.game-packshot {
  position: relative;
}

.game-packshot .game-owned {
  left: 7%;
}

/* Indie Gala */
.games-box .b_game {
  position: relative;
}
